header{
	width: 100%;
	height: 10%;
	background: #5b7989;
	color: white;
	border-radius: 10px 10px 0px 0px;
}

header h1{
	flex-flow: right;
}

header nav{
	flex-flow: right;
}

#img_central{
	background:  #82c3a6;
	padding: 10px;
	text-align: center;
}

#img_secundarias{
	background: #d5c75f;
	border: 1px;
	text-align: center;
	text-decoration: underline;
}

#img_secundarias img{
	width: 40%;
}

#paisajes{
	background: #d5c75f;
}

#paisajes img{
	width: 450px;
}

#retratos{
	background: #d5c75f;
}

#retratos img{
	width: 450px;
}

footer{
	background: #C6d5c5;
	border-radius: 0px 0px 10px 10px;
}